
$base_color: #202020;
$heading_color: #202020;
$normal_color: #404040;
$passive_color: #606060;
$secondary_color: #36c;

$logo_color: white;
$logo_background_color: $secondary_color;

$link_color: $secondary_color;
$link_hover_color: $passive_color;
$link_bg: white;

$tag_color: $link_color;

$border_color: #bbbbbb;
